body{
margin: 0;
    padding: 0;
    background-color: lightgray;

}



nav {
  display: none;
}

#menu:checked ~ nav {
  display: block;

}

#menu {
  display: none;

}#menu1:checked ~ nav {
  display: block;

}

#menu1 {
  display: none;

}

.burgerMenu {
    position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  margin-right: 1.5em;
  margin-top: .5em;
  font-size: 2em;
    z-index: 1;
  cursor: pointer;
    animation:   rotate-scale-down 1s;

}

.collapsible {
  background-color: #333;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 1.1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
    border: 1px #fff solid;
}

/*
.collapsible:nth-child(1) {
  background: #d71634;
}
.collapsible:nth-child(3) {
  background: #e1b427;
}
.collapsible:nth-child(3) {
  background: #e1b427;
}
*/




.pimg1{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Images/graphic.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    /* if YOU WANT TO REMOVE THE PARALLAX EFFECT THEN DO THIS :D
    fixed = parallax
    scroll = normal
    */
}




.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;

}


a{
  text-decoration: none;
  color: #333;
}
a:hover{
  text-decoration: underline;
}


.logo{
  width:50vw ;
    margin: 0 auto;
    padding: 0;
    display: grid;
    place-items: center;
}

.content a:hover{
    color: #b7b4b4;

}

.content a{
    display: block;
 margin-left: 1em;
    padding: .5em;
}


@media all and (min-width: 900px){
    .logo{
        width: 12vw;


}

}

.rotate-scale-down {
	-webkit-animation: rotate-scale-down 0.65s linear both;
	        animation: rotate-scale-down 0.65s linear both;
}


@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}


.content .adjuster {
    margin-left: 3em;
    border-bottom: 1px solid;
    width: 3%;
}

footer {
    display: inline;
 width: 10em;
    height: 10em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));

}

.sign{
    font-size: 2em;
    margin: 3em;
    place-items: center;
}


























